/*-------------- about -----------------*/
.about{
	margin: 52px 0;

	&__content{
		display: flex;
		align-items: center;
	}

	&__img{
		flex-shrink: 0;
		max-width: 50%;
		margin-left: 45px;
	}
}

@media (max-width: 1279px) {
	.about{
		&__content{flex-direction: column-reverse;}
		
		&__img{
			margin-left: 0;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 767px) {
	.about{
		margin: 44px 0;

		&__img{
			max-width: 100%;
			margin-bottom: 15px;
		}
	}
}