/*-------------- contacts -----------------*/
.contacts{
	margin-top: 140px;

	&__content{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 1330px;
		margin: 0 auto;
	}

	&__map{
		width: calc(67% - 42px);
		box-shadow: 10px 10px 20px rgba(24, 38, 8, 0.2), 30px 30px 50px rgba(24, 38, 8, 0.15);
	}

	&__info{
		width: calc(33% - 42px);
		margin-top: -10px;
	}

	&__title{
		@include font(normal, bold, 3.6rem, 1.15, $color-text);
		margin-bottom: 4rem;
	}
}

.contacts-item{
	&:not(:last-child){margin-bottom: 12px;}

	&__top{
		display: flex;
		margin-bottom: 10px;
	}

	&__title{
		@include font(normal, bold, 1.6rem, 1.15, $color-text);
	}

	&__icon{
		flex-shrink: 0;
		width: 20px;
		margin-right: 14px;
		text-align: center;

		.icon{fill: $color-text;}
	}

	&__text{
		@include font(normal, normal, 1.8rem, 1.6, $color-text);

		.btn{
			min-width: 287px;
			margin-top: 10px;
			margin-bottom: 25px;
		}
	}
}

@media (max-width: 991px) {
	.contacts{
		margin-top: 80px;
		&__content{flex-direction: column-reverse;}

		&__info{
			width: auto;
			margin: 0 0 20px 0;
		}

		&__map{width: 100%;}
	}
}

@media (max-width: 767px) {
	.contacts{
		margin-top: 44px;

		&__map iframe{height: 300px;}
	}
}