/* form-subscribe */
.form-subscribe{
	&__content{
		display: inline-flex;
		align-items: center;
	}

	&__label{
		@include font(normal, normal, 2.4rem, 1.2, $color-text);
		margin-right: 40px;
	}

	input[type="text"],
	input[type="mail"]{
		display: inline-flex;
		align-items: center;
		height: 3.8rem;
		width: 338px;
		font-family: $font-site;
		@include font(normal, normal, 1.6rem, 1.2, $color-text);
		padding: 0 30px;
		background: #fff;
		border: none;
		outline: 2px solid transparent;
		margin: 0;
		box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.25);
		transition: outline 0.2s ease 0s;
		margin-right: 50px;
	}

	input[type="text"]:focus,
	input[type="mail"]:focus{
		outline-color: $color-yellow;
	}

	.btn,
	input[type="submit"].btn,
	button.btn{
		font-size: 1.6rem;
		font-weight: bold;
		height: 3.8rem;
		padding: 0 42px;
	}
}