/*-------------- offer-card -----------------*/
.offer-card-wrap{
	padding: 32px 0 102px;
	background: url(../img/bg-blur-building.png) no-repeat top left;

	h2, .h2{margin-bottom: 1.8rem;}
}

.steps-wrap + .offer-card-wrap{margin-top: -84px;}

.offer-card-list{
	display: flex;
	flex-wrap: wrap;
	max-width: 1405px;
	margin: 0 auto;
}

.offer-card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(25% - 24px);
	background: #fff;
	border: 2px solid $color-blue;
	padding: 25px 20px 20px;
	margin: 12px;
	box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);

	&__title{
		@include font(normal, bold, 2.4rem, 1.15, $color-text);
		text-align: center;
	}

	&__text{
		@include font(normal, normal, 1.7rem, 1.25, $color-text);
		margin-top: 34px;

		.list-dots{letter-spacing: 0.5px;}
	}

	.btn{
		width: 100%;
		margin-top: 33px;
	}
}

@media (max-width: 1279px) {
	.offer-card{width: calc(50% - 24px);}
}

@media (max-width: 767px) {
	.offer-card-list{
		margin-left: -7px;
		margin-right: -7px;
	}

	.offer-card{
		width: calc(50% - 14px);
		margin: 7px;
		padding: 12px 8px;

		&__title{font-size: 1.4rem;}

		&__text{
			font-size: 1.3rem;
			margin-top: 20px;
		}

		.btn{
			height: 3.2rem;
			font-size: 1.4rem;
			margin-top: 10px;
		}
	}
}