/* offer-block */
.offer-block{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1175px;
	max-width: 100%;
	background: #fff;
	border: 3px solid $color-yellow;
	margin: 0 auto;
	padding: 22px 50px;

	&__title{
		flex-shrink: 0;
		max-width: 212px;
		@include font(normal, bold, 2.4rem, 1.5, $color-text);
		text-align: center;
		margin-right: 60px;
	}

	&__text{
		@include font(normal, bold, 1.4rem, 2.1, $color-text);
		margin: 0 15px;
	}

	.btn{
		min-width: 230px;
		font-size: 1.6rem;
		line-height: 1;
		flex-shrink: 0;
		margin-left: 30px;
	}
}