/*-------------- promo-block -----------------*/
.promo-block{
	background: url(../img/bg-window.jpg) no-repeat center;
	background-attachment: fixed;
	padding: 0 140px;
	position: relative;

	&__content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1354px;
		max-width: 100%;
		min-height: 906px;
		margin: 0 auto;
		padding: 20px 0;
	}

	&__info{color: #fff;}

	&__text{
		font-family: $font-koho;
		@include font(normal, bold, 5.4rem, 1.2, #fff);
		margin-bottom: 55px;
	}

	&__title{
		font-family: $font-koho;
		@include font(normal, bold, 6.4rem, 1.2, #fff);
		text-transform: uppercase;
		padding-left: 25px;
		position: relative;
	}

	&__title::before{
		content: '';
		display: inline-block;
		width: 6px;
		height: calc(100% - 18px);
		background: $color-yellow;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		margin-top: 3px;
	}

	&__label{
		font-family: $font-koho;
		@include font(normal, normal, 2.4rem, 1.2, #fff);
		margin-top: 10px;
	}

	.form-site-wrap{
		flex-shrink: 0;
		margin-left: 70px;
	}

	.btn-action{
		position: absolute;
		top: 95px;
		right: 15px;
	}
}

.btn-action{
	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 115px;
		height: 54px;
		padding: 5px;
		background: $color-blue;
		transition: box-shadow 0.2s ease 0s;

		.icon{
			max-height: 100%;
			fill: $color-yellow;
		}

		.icon.ic-stroke{
			fill: none;
			stroke: $color-yellow;
		}
	}

	&__item:not(:last-child){margin-bottom: 14px;}
	&__item:hover{box-shadow: inset 0 6.8rem 0 0 $color-blue-hover;}
}

@media (max-width: 1400px) {
	.promo-block{
		&__text{font-size: 4.8rem;}
		&__title{font-size: 5.4rem;}
		&__label{font-size: 2rem;}
	}
}

@media (max-width: 1279px) {
	.promo-block{
		padding: 0 80px;
		&__text{font-size: 4.2rem;}
		&__title{font-size: 4.8rem;}
		&__label{font-size: 1.8rem;}
		.btn-action{top: 35px;}
	}
}

@media (max-width: 991px) {
	.promo-block{
		padding: 0 35px;
		.btn-action{display: none;}

		&__content{
			display: block;
			min-height: 0;
			padding: 40px 0;
		}

		&__text{font-size: 3.6rem;}
		&__title{font-size: 4rem;}
		&__label{font-size: 1.6rem;}
		&__info{margin-bottom: 30px;}
		.form-site-wrap{margin: 0;}
		.form-site{margin: 0 auto;}
	}
}

@media (max-width: 767px) {
	.promo-block{
		padding: 0 15px;

		&__text{
			font-size: 2.4rem;
			line-height: 1.2;
			margin-bottom: 28px;
		}

		&__title{font-size: 3rem;}

		&__title::before{
			height: 100%;
			margin-top: 0;
		}

		&__label{
			font-size: 0.9rem;
			margin-top: 0;
		}

		&__content{padding: 54px 0;}


		// &__info{margin-bottom: 30px;}

		.form-site{
			max-width: 100%;
		}
	}
}