/*-------------- review-slider -----------------*/
.review-slider-wrap{
	margin: 84px 0 40px;
	background: 
		url(../img/bg-review-left.png) no-repeat bottom left,
		url(../img/bg-review-right.png) no-repeat bottom right;
	background-color: #ececec;
	padding: 100px 0 70px;

	&__nav{
		max-width: 1335px;
		margin: 0 auto;
		padding-left: 438px;
	}

	.slider-nav{
		display: inline-flex;
		padding: 0 40px;
		position: relative;

		&__arr{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: auto;
			height: auto;
			background: transparent;
			margin: 0;
			padding: 0;
			font-size: 0;
			box-shadow: none;
			border: none;
			outline: none;
			cursor: pointer;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			.icon{
				fill:#b1b2b5;
				transition: fill 0.2s ease 0s;
			}
		}

		&__arr_left{left: 0;}
		&__arr_right{right: 0;}
	
		&__arr:hover .icon{fill: $color-yellow;}
	}

	.slick-dots{
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
	
		&,
		li{
			@include reset-list;
		}
	
		&{padding: 0;}
	
		button{
			display: inline-block;
			font-size: 0;
			padding: 0;
			margin: 0;
			background: transparent;
			box-shadow: none;
			border: none;
			outline: none;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			position: relative;
			margin: 15px;
			transition: all 0.2s ease 0s;
			cursor: pointer;
		}
	
		button::after{
			content: '';
			display: inline-block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: #c4c4c4;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: background 0.2s ease 0s;
		}
	
		button:hover::after,
		.slick-active button::after{
			width: 24px;
			height: 24px;
			background: $color-yellow;
		}
	}
}

.review-slider{
	max-width: 1335px;
	margin: 0 auto;

	&__item{
		display: flex!important;
		align-items: center;
		padding: 22px 20px;
	}

	&__photo{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 320px;
		height: 320px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-right: 84px;
		box-shadow: 10px 10px 20px 0px rgba(24,38,8,0.3);
	}

	&__name,
	&__age{
		@include font(normal, bold, 2rem, 1.2, $color-text);
	}

	&__text{
		max-width: 692px;
		@include font(normal, normal, 1.8rem, 1.4, $color-text);
		margin-top: 10px;
	}

	&__btn{
		display: flex;
		flex-wrap: wrap;
		padding-left: 45px;
		margin-top: 10px;

		.btn:not(:last-child){margin-right: 28px;}

		.btn{
			padding-left: 34px;
			padding-right: 34px;
		}
	}
}