/*-------------- tabs-page -----------------*/
.tabs-page{
	margin-left: 22px;
	margin-right: 22px;
	border: 1px solid $color-blue;

	&__list,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__list{
		display: flex;
		justify-content: space-between;
		margin-bottom: 36px;
		background: $color-blue;
		padding: 14px 0;
		margin: -1px -22px 0;
	}

	&__item{
		display: inline-block;
		width: 100%;
		@include font(normal, normal, 1.8rem, 1.2, #fff);
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		margin: 0 20px;
		transition: color 0.2s ease 0s;
	}

	&__item:hover,
	&__item.active{
		font-weight: bold;
		color: $color-yellow;
	}

	&__content-item{
		display: none;
		padding: 36px 55px;

		p:last-child{margin-bottom: 0;}
	}

	&_mix &__item:first-child{
		flex-shrink: 0;
		width: 298px;
	}

	.material-card-list{
		position: relative;
		margin-bottom: -10px;

		&::after{
			content: '';
			display: inline-block;
			width: calc(100% - 90px);
			height: 1px;
			background: $color-blue;
			position: absolute;
			bottom: 25px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}

	.tabs-page-vert{margin-left: -77px;}
}

.tabs-page-vert{
	display: flex;

	&__list,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__list{
		flex-shrink: 0;
		width: 298px;
		margin-right: 64px;
	}

	&__item{
		display: block;
		@include font(normal, normal, 1.8rem, 1.2, #fff);
		text-align: center;
		text-decoration: none;
		background: $color-blue;
		padding: 14px 20px;
		cursor: pointer;
		transition: color 0.2s ease 0s;
	}

	&__item:hover,
	&__item.active{
		font-weight: bold;
		color: $color-yellow;
	}

	&__content-item{display: none;}
}

@media (max-width: 1400px) {
	.tabs-page-vert{
		&__list{margin-right: 30px;}
	}
}

@media (min-width: 1280px) {
	.tabs-page-vert{
		&__item:not(:last-child){margin-bottom: 36px;}
	}
}

@media (max-width: 1279px) {
	.tabs-page-vert{
		display: block;

		&__list{
			display: flex;
			flex-wrap: wrap;
			width: auto;
			margin-right: 0;
			margin-bottom: 20px;
		}

		&__item{margin: 5px;}
	}

	.tabs-page{
		&_mix &__item:first-child{
			width: 100%;
			flex-shrink: 1;
		}

		&__content-item{padding: 20px 30px;}

		.tabs-page-vert{
			margin-left: 0;

			&__list{
				margin-left: -57px;
				margin-right: -57px;
			}
		}
	}
}

@media (max-width: 767px) {
	.tabs-page{
		margin-left: 10px;
		margin-right: 10px;

		&__list{
			display: block;
			margin-left: -10px;
			margin-right: -10px;
			background: transparent;
			padding: 0;
		}

		&__item{
			padding: 10px 15px;
			background: $color-blue;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			margin: 0 0 18px 0;
		}

		&__item:last-child{margin-bottom: 0;}

		&__content-item{padding: 20px 15px;}

		.tabs-page-vert{
			&__list{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}