/*-------------- type-card -----------------*/
.type-card-wrap{
	margin: 84px 0;

	h2, .h2{margin-bottom: 2.7rem;}
}

.type-card{
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;

	&__item{
		display: block;
		width: calc(33.33% - 10px);
		min-height: 312px;
		margin: 5px;
		position: relative;
		overflow: hidden;
	}

	&__img{
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.2s ease 0s;
	}

	&__img::after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #314F9C 0%, rgba(49, 79, 156, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
	}

	&__content{
		position: relative;
		padding: 22px 17px;
	}

	&__title{
		@include font(normal, bold, 3.6rem, 1.15, $color-yellow);
	}

	&__text{
		max-width: 370px;
		@include font(normal, normal, 1.4rem, 1.15, #fff);
		margin-top: 6px;
	}

	&__more{
		margin-top: 16px;

		.icon.ic-stroke{
			stroke: #fff;
			transition: stroke 0.2s ease 0s;
		}
	}
}

a.type-card__item{
	text-decoration: none;

	&:hover .type-card__img{transform: translate(-50%, -50%) scale(1.05);}
	&:hover .type-card__more .icon.ic-stroke{stroke: $color-yellow;}
}

@media (max-width: 1279px) {
	.type-card{
		&__title{font-size: 3rem;}
	}
}

@media (max-width: 991px) {
	.type-card{
		&__item{width: calc(50% - 10px);}
	}
}

@media (max-width: 767px) {
	.type-card-wrap{margin: 44px 0;}

	.type-card{
		display: block;
		margin-left: 0;
		margin-right: 0;

		&__item{
			width: 100%;
			min-height: 224px;
			margin: 17px 0;
		}

		&__title{font-size: 3.6rem;}
	}
}