/*-------------- worker -----------------*/
.worker{
	margin: 92px 0 84px;

	h2, .h2{
		max-width: 1010px;
		margin-left: auto;
		margin-right: auto;
	}

	&__content{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right: 100px;
		padding-top: 4px;
	}

	&__list{
		flex-shrink: 0;
		text-align: right;
	}

	&__item{
		@include font(normal, bold, 2.4rem, 1.15, $color-text);
		white-space: nowrap;
		position: relative;
		padding-right: 58px;
	}

	&__item:not(:last-child){margin-bottom: 10px;}

	&__item::after{
		content: '';
		display: block;
		width: 31px;
		height: 2px;
		background: $color-yellow;
		margin-top: 5px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&__item:before {
		content: '';
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: $color-yellow;
		margin-top: 5px;
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translateY(-50%);
	}

	&__img{
		max-width: 600px;
		border-left: 7px solid $color-yellow;
	}

	&__info{
		max-width: 430px;
		margin-left: 50px;
	}

	.btn{
		width: 100%;
		margin-top: 35px;
	}
}

@media (max-width: 1400px) {
	.worker{
		&__content{padding-right: 0;}
		&__info{max-width: 380px;}
	}
}

@media (max-width: 1279px) {
	.worker{
		&__content{flex-wrap: wrap;}

		&__info{
			width: 100%;
			max-width: none;
			margin-left: 0;
			margin-top: 30px;
		}

		&__img{max-width: 50%;}
	}
}

@media (max-width: 991px) {
	.worker{
		&__list{max-width: 50%;}
		&__item{font-size: 2rem;}
		white-space: normal;
	}
}

@media (max-width: 767px) {
	.worker{
		margin: 44px 0;

		&__img{
			width: 100%;
			max-width: none;
			border-left: 0;
			border-bottom: 7px solid #ecae11;
			order: -1;
		}

		&__list{
			width: 100%;
			max-width: none;
			text-align: left;
			margin-top: 16px;
			position: relative;
		}

		&__list::before{
			content: '';
			display: inline-block;
			width: 2px;
			height: calc(100% + 12px);
			background: $color-yellow;
			position: absolute;
			bottom: 8px;
			left: 0;
		}

		&__item{
			font-size: 2.4rem;
			padding-right: 0;
			padding-left: 58px;
		}

		&__item::after{
			right: auto;
			left: 0;
		}

		&__item::before{
			right: auto;
			left: 30px;
		}

		&__info{margin-top: 45px;}
		.btn{margin-top: 12px;}
	}
}