//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Gotham Pro', Arial, sans-serif;
$font-koho: 'KoHo', Arial, sans-serif;

// Site
$color-text: #191B1D;
$color-blue: #314F9C;
$color-blue-hover: #213568;
$color-yellow: #ECAE11;
$color-yellow-hover: #c28c05;