html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.13, $color-text);
	box-sizing:border-box;
	height:100%;
}

body{font-size: 1.8rem;}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-blue;
	text-decoration: underline;
}

a:hover{text-decoration: none;}

p{
	padding: 0;
	margin-bottom: 2rem;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.55;
	color: $color-text;
	font-weight: normal;
}

h1,.h1{
	font-size: 5rem;
	margin-bottom: 6rem;
}

h2,.h2{
	font-size: 3.6rem;
	margin-bottom: 2rem;
}

h3,.h3{
	font-size: 3rem;
	margin-bottom: 1rem;
}

h4,.h4{
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

h5,.h5{
	font-size: 2rem;
	margin-bottom: 1rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	padding-bottom: 76px;
	width: 100%;
}

.container{
	width: 100%;
	max-width: 1800px;
	padding: 0 15px;
	margin: 0 auto;
}


.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 5.4rem;
	background: $color-yellow;
	border: 2px solid $color-yellow;
	outline: none;
	@include font(normal, bold, 1.8rem, 1.2, #fff);
	text-decoration: none;
	text-align: center;
	padding: 5px 20px;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}

.btn:hover,
input[type="submit"].btn:hover,
button.btn:hover{
	color: #fff;
	border-color: $color-yellow-hover;
	box-shadow: inset 0 6.8rem 0 0 $color-yellow-hover;
}

.btn_blue,
input[type="submit"].btn_blue,
button.btn_blue{
	background: $color-blue;
	border-color: $color-blue;

	&:hover{
		border-color: $color-blue-hover;
		box-shadow: inset 0 6.8rem 0 0 $color-blue-hover;
	}
}

.btn_border,
input[type="submit"].btn_border,
button.btn_border{
	background: transparent;
	color: $color-text;

	&:hover{
		color: #fff;
		border-color: $color-yellow-hover;
		box-shadow: inset 0 6.8rem 0 0 $color-yellow-hover;
	}

	&.btn_blue:hover{
		border-color: $color-blue-hover;
		box-shadow: inset 0 6.8rem 0 0 $color-blue-hover;
	}
}

.btn_shadow{box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);}
.btn_shadow:hover, .btn.btn_blue.btn_shadow:hover{box-shadow: none;}
.btn.btn_shadow:hover{background: $color-yellow-hover;}
.btn.btn_blue.btn_shadow:hover{background: $color-blue-hover;}

.btn{
	.icon{
		fill: $color-text;
		transition: fill 0.2s ease 0s;
	}

	.icon:first-child{margin-right: 10px;}
	.icon:last-child{margin-left: 10px;}
	&:hover .icon{fill: #fff;}
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}